* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.landing-page {
  height: 100vh;
  background-image: url("../assets/dog-landing.jpg");
  background-size: cover;
}

.intro {
  margin-top: 20vh;
  width: 50%;
  height: 30%;
  color: white;
  border: 2px solid white;
  text-align: center;
}

.intro h1 {
  font-size: 60px;
}

.para {
  margin-top: 20px;
  text-align: center;
}

.para img {
  width: 80%;
  border-radius: 5px;
}
